html {
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Digital Display";
    src: url('LCDAT&TPhoneTimeDate.ttf') format('truetype');
    /* src: url('digitalDisplay.ttf') format('truetype'); */
}

@font-face {
    font-family: "Bree Serif";
    src: url('BreeSerif-Regular.ttf') format('truetype')
}

body {
    touch-action: none; 
}


.calculator-box {
    width: 15rem;
    height: 25rem;
    margin: 0 auto;
    transform: scale(1.5);
    transform-origin: center top;
    padding: 0;
    background-color: #1a5f98;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 10px 10px 10px black;
}

.model {
    display: flex;
    width: 100%;
    height: fit-content;
    text-shadow: 0px 0px 0.75px black;
}

.company-name {
    display: inline-block;
    color: white;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 0.75rem;
    width: 70%;
    height: fit-content;
    padding: 0;
    margin: 0;

}

.model-name {
    display: inline-block;
    color: white;
    width: 40%;
    line-height: 1.3rem;
    /* font-weight: bolder; */
    font-family: 'Bree Serif';
    font-size: 1.75rem;
    padding-right: 0.5%;
    margin: 0;
    text-align: left;
}

#solar-panel {
    display: block;
    margin: 0 0 2% 5%;
    width: 6.3rem;
    height: 1.7rem;
    border: 1px ridge #333;
}

hr {
    border: none;
    border-top: 3px double #333;
}

.buttons-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "negpos sqrt percent divide"
        "mrc mneg mplus multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three calculate"
        "clear zero decimal calculate";
    grid-gap: 4px;
    width: 92%;
    height: 55%;
    margin: 0 auto;
    padding: 1%;
    border: 2px inset #41444ad6;
    border-radius: 8px;
    justify-items: end;
}

#negpos {
    grid-area: negpos;
}

#sqrt {
    grid-area: sqrt;
}

#percent {
    grid-area: percent;
}

#divide {
    grid-area: divide;
}

#mrc {
    grid-area: mrc;
}

#mneg {
    grid-area: mneg;
}

#mplus {
    grid-area: mplus;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#subtract {
    grid-area: subtract;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#add {
    grid-area: add;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#clear {
    grid-area: clear;
}

#zero {
    grid-area: zero;
}

#decimal {
    grid-area: decimal;
}

button {
    display: inline-block;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    width: 2.7rem;
    padding-top: 0;
    cursor: pointer;
    padding-bottom: 25%;
    padding-left: 3px;
    border-radius: 4px;
    line-height: 0.25px;
    text-align: left;
    border: 2px inset #333;
}

button:active, .active {
    filter: brightness(85%);
    box-shadow: 0px 1px 0.5px rgb(44, 43, 43);
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

.operators, .extras, .memory {  
    background-color: #cc3c33;
    color: white;
    background-image: url(../images/red_button_tread.png);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: bottom;
}

.number-button {
    font-weight: bold;
    background-color: #eaeceb;
    color: #45597c;
    background-image: url(../images/white_button_tread.png);
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: bottom;
}

#calculate {
    grid-area: calculate;
    padding-bottom: 70%;
    background-image: url(../images/red_button_calculate_tread.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: bottom;

}

.calculation {
    font-family: 'Digital Display';
    font-size: xx-large;
    text-align: right;
    width: 75%;
    padding: 1% 1% 0 0;
    /* background-color: #beb9a6; */
    background-color: rgb(190, 185, 166) !important;
    margin: 5% auto;
    color: black;
    border: 0.4rem inset #5d776e;
    border-radius: 4px;
}

.screen {
    width: 100%;
    display: flex;
    padding-top: 2%;
    align-items: center;
}

.tread {
    width: 9%;
    margin: 0;
    vertical-align: middle;
    border-radius: 8.5%;
}

#ti_symbol {
    border: 0;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.2rem 0 0 0.5rem;
    float: left;
}